NODE_ENV=development
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=dat_lich_kham_benh
JWT_SECRET=4a272143e852744d1de160287a10cb545bb35bb64c5fa619628a1202f1d3fc53
JWT_EXPIRES_IN=8h
PASSWORD_HASH_ROUNDS=10
FILE_UPLOAD_PATH=/uploads
FILE_UPLOAD_MAX_SIZE=2097152
FILE_UPLOAD_ALLOWED_TYPES=image/jpeg,image/png,image/gif
PORT=3001

GEMINI_API_KEY_1="paste_key_api_1_vào_đây",
GEMINI_API_KEY_2="paste_key_api_2_vào_đây" // api key của tài khoản gmail khác (có bao nhiêu tài khoản gmail thì thêm bấy nhiêu) 